<h1>Add a job</h1>

<%= simple_form_for [:admin, @job] do |f| %>
<div class="group">
  <%= f.input :title %>
</div>
<div class="group">
  <%= f.input :description %>
</div>
<div class="group">
  <%= f.input :wage_lower_bound %>
</div>
<div class="group">
  <%= f.input :wage_upper_bound %>
</div>
<div class="group">
  <%= f.input :contact_email %>
</div>
<div class="group">
  <%= f.input :is_hidden %>
</div>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
